@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}